h1,
h2 {
    text-align: center;
}

#content {
    margin-top: 40px;
}

.checked-task,
.checked-task:hover {
    float: right;
    cursor: pointer;
    color: aqua;
    font-size: 18px;
    font-weight: bold;
    padding-right: 5px;
}

.remove-task,
.remove-task:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-size: 18px;
    font-weight: bold;
    padding-left: 5px;
}

.complete-task,
.complete-task:hover {
    cursor: pointer;
    color: grey;
    text-decoration-line: line-through;
}